# Importing and viewing data

In [2]:
#Load packages for use 

import pandas as pd

### Datasets for Capstone Proposal 1
#### Predict Cardiovascular health based on age, sex, blood pressure, heart rate, and cholesterol.

In [6]:
#Example dataset for Cap1 -- cardiovascular health
cap1_path = 'C:\\Users\\Hailey\\Documents\\GitHub\\SBwork\\Capstone2\\Project1Data\\datasets_33180_43520_heart.csv'
df1 = pd.read_csv (cap1_path)

print(df1.keys())
print(df1.head())

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')
   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   3       145   233    1        0      150      0      2.3      0
1   37    1   2       130   250    0        1      187      0      3.5      0
2   41    0   1       130   204    0        0      172      0      1.4      2
3   56    1   1       120   236    0        1      178      0      0.8      2
4   57    0   0       120   354    0        1      163      1      0.6      2

   ca  thal  target
0   0     1       1
1   0     2       1
2   0     2       1
3   0     2       1
4   0     2       1

Dataset is clear and clean.  Could be used to predict cardiovascular health, however, I feel this is very simplistic.  There is no combination of data, nor is there any ambiguity about what the predictors should be since this dataset seems to be taken from people who are presenting with a possible heart problem or perhaps have a diagnosed heart problem.

### Datasets for Capstone Proposal 2
##### Predict potential for Alzheimer's given Location and Nutrition/Physical Activity/Obesity rating.

In [7]:
cap2_path = 'C:\\Users\\Hailey\\Documents\\GitHub\\SBwork\\Capstone2\\Project2Data\\Alzheimer_s_Disease_and_Healthy_Aging_Data.csv'
df2 = pd.read_csv (cap2_path)

print(df2.keys())
#print(df2.head())
df2.sample(5)

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Response', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value', 'Data_Value_Alt',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'Low_Confidence_Limit', 'High_Confidence_Limit', 'Sample_Size',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'StratificationCategory3', 'Stratification3',
       'GeoLocation', 'ClassID', 'TopicID', 'QuestionID', 'ResponseID',
       'LocationID', 'StratificationCategoryID1', 'StratificationID1',
       'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3', 'Report'],
      dtype='object')

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Response,Data_Value_Unit,...,QuestionID,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3,Report
49108,2017,2017,WY,Wyoming,BRFSS,Screenings and Vaccines,Influenza vaccine within past year,Percentage of older adults who reported influe...,NaN,%,...,Q18,NaN,56,AGE,5064,GENDER,FEMALE,NaN,NaN,NaN
21372,2016,2016,MA,Massachusetts,BRFSS,Overall Health,Oral health: tooth retention,Percentage of older adults who report having l...,NaN,%,...,Q07,NaN,25,AGE,65PLUS,OVERALL,OVERALL,NaN,NaN,NaN
23383,2016,2016,ME,Maine,BRFSS,Nutrition/Physical Activity/Obesity,Obesity,Percentage of older adults who are currently o...,NaN,%,...,Q13,NaN,23,AGE,5064,OVERALL,OVERALL,NaN,NaN,NaN
12617,2017,2017,NE,Nebraska,BRFSS,Overall Health,Physically unhealthy days (mean number of days),Physically unhealthy days (mean number of days...,NaN,Number,...,Q08,NaN,31,AGE,AGE_OVERALL,RACE,HIS,NaN,NaN,NaN
82623,2017,2017,MI,Michigan,BRFSS,Overall Health,Self-rated health (good to excellent health),Percentage of older adults who self-reported t...,NaN,%,...,Q33,NaN,26,AGE,AGE_OVERALL,RACE,NAA,NaN,NaN,NaN

This data is REALLY difficult to interpret.  The class/topic/question fields each have response fields that are not aligned in any way.

### Datasets for Capstone Proposal 3
##### Predict Hazardous Days given the location, Good Days, and Moderate Days

In [4]:
#Example dataset for Cap3 (also shown in Cap1) -- seasonal air quality given the location
cap3_path = 'C:\\Users\\Hailey\\Documents\\GitHub\\SBwork\\Capstone2\\Project3Data\\annual_aqi_by_county_1999.csv'
df3 = pd.read_csv(cap3_path)

print(df3.keys())
print(df3.head())

Index(['State', 'County', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10'],
      dtype='object')
     State    County  Year  Days with AQI  Good Days  Moderate Days  \
0  Alabama      Clay  1999            273        117             97
1  Alabama   Colbert  1999            359        276             71
2  Alabama    DeKalb  1999            332        134            119
3  Alabama    Elmore  1999            241        157             71
4  Alabama  Escambia  1999             58         57              1

   Unhealthy for Sensitive Groups Days  Unhealthy Days  Very Unhealthy Days  \
0                                   49              10                    0
1                                   11               1                    0
2                                   60              19                    0
3                                   12               1                    0
4                                    0               0                    0

   Hazardous Days  Max AQI  90th Percentile AQI  Median AQI  Days CO  \
0               0      182                  122          58        0
1               0      166                   73          11        0
2               0      195                  133          59        0
3               0      151                   87          45        0
4               0       52                   35          20        0

   Days NO2  Days Ozone  Days SO2  Days PM2.5  Days PM10
0         0         211         0          62          0
1         0           0       284          75          0
2         0         270         0          62          0
3         0         241         0           0          0
4         0           0         0           0         58

This data is clear and clean.  I will have to combine csvs for each year worth of data and ensure that the cleanliness is maintained/consistent through all sets.  Given the fact that the dataset contains good days, moderate days, unhealthy for sensitive groups days, and undealthy days, my original concept of predicting air quality given location isn't really predictive.  Also, the distribution of the day types is not correlated with a date (only year), so it wouldn't be possible to predict seasonal changes.  I could work with yearly expectations and predict day types for years outside my dataset range.  This may be inhibited by the limited number of years available.

## COVID-19 predicted by Disease and Nutrition Indicators

Predict the countries that have the lowest rates of COVID based on predominent diseases and nutritional indicators for that country.

In [16]:
capNew_path = 'C:\\Users\\Hailey\\Desktop\\cap2\\nutritional_profile_data.xlsx'
dfNew = pd.read_excel(capNew_path, sheet_name = ['Country determinants', 'Region adult'])

print(dfNew.keys())
#print(dfNew.head())
dfNew['Country determinants'].keys()
dfNew['Region adult'].keys()
dfNew['Country determinants'].sample(5)
dfNew['Region adult'].head(5)

dict_keys(['Country determinants', 'Region adult'])

,region,disaggregation,disagg.value,value.type,section,adult_anemia_2000,adult_anemia_2001,adult_anemia_2002,adult_anemia_2003,adult_anemia_2004,...,adult_overweight_2009,adult_overweight_2010,adult_overweight_2011,adult_overweight_2012,adult_overweight_2013,adult_overweight_2014,adult_overweight_2015,adult_overweight_2016,adult_sodium_2010,adult_sodium_2017
0,Africa,all,Both,modelled.estimates,Adult nutrition status,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.97,2.97
1,Africa,gender,Female,modelled.estimates,Adult nutrition status,NaN,NaN,NaN,NaN,NaN,...,36.72,37.33,37.94,38.55,39.18,39.82,40.45,41.09,3.12,3.14
2,Africa,gender,Female,weighted.mean,Adult nutrition status,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa,gender,Male,modelled.estimates,Adult nutrition status,NaN,NaN,NaN,NaN,NaN,...,22.72,23.14,23.56,23.98,24.43,24.89,25.36,25.84,2.82,2.79
4,Africa,gender,Male,weighted.mean,Adult nutrition status,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
capNew_path2 = 'C:\\Users\\Hailey\\Desktop\\cap2\\annual-number-of-deaths-by-cause.csv'
dfNew2 = pd.read_csv(capNew_path2)

print(dfNew2.keys())
dfNew2.sample(5)

Index(['Entity', 'Code', 'Year', 'Execution', 'Meningitis (deaths)',
       'Lower respiratory infections (deaths)',
       'Intestinal infectious diseases (deaths)',
       'Protein-energy malnutrition (deaths)', 'Terrorism (deaths)',
       'Cardiovascular diseases (deaths)', 'Dementia (deaths)',
       'Kidney disease (deaths)', 'Respiratory diseases (deaths)',
       'Liver diseases (deaths)', 'Digestive diseases (deaths)',
       'Hepatitis (deaths)', 'Cancers (deaths)', 'Parkinson disease (deaths)',
       'Fire (deaths)', 'Malaria (deaths)', 'Drowning (deaths)',
       'Homicide (deaths)', 'HIV/AIDS (deaths)', 'Drug use disorders (deaths)',
       'Tuberculosis (deaths)', 'Road injuries (deaths)',
       'Maternal disorders (deaths)', 'Neonatal disorders (deaths)',
       'Alcohol use disorders (deaths)', 'Natural disasters (deaths)',
       'Diarrheal diseases (deaths)', 'Heat (hot and cold exposure) (deaths)',
       'Nutritional deficiencies (deaths)', 'Suicide (deaths)',
       'Conflict (deaths)', 'Diabetes (deaths)', 'Poisonings (deaths)'],
      dtype='object')

,Entity,Code,Year,Execution,Meningitis (deaths),Lower respiratory infections (deaths),Intestinal infectious diseases (deaths),Protein-energy malnutrition (deaths),Terrorism (deaths),Cardiovascular diseases (deaths),...,Neonatal disorders (deaths),Alcohol use disorders (deaths),Natural disasters (deaths),Diarrheal diseases (deaths),Heat (hot and cold exposure) (deaths),Nutritional deficiencies (deaths),Suicide (deaths),Conflict (deaths),Diabetes (deaths),Poisonings (deaths)
152,Andorra,AND,2002,NaN,0.279983,21.857504,0.002455,0.075852,NaN,132.606860,...,0.763770,1.369157,0.0,0.578836,0.276650,0.131539,7.887231,0.0,4.072600,0.204047
4656,Peru,PER,2014,NaN,298.595333,16669.787161,5.917688,642.770680,4.0,25643.564059,...,4628.920938,247.173797,56.0,1142.307415,655.782103,718.604928,1009.261841,18.0,3894.663303,222.314734
163,Andorra,AND,2013,NaN,0.261309,28.256235,0.003564,0.118486,NaN,156.010222,...,0.605937,1.703470,0.0,0.955375,0.345220,0.183692,8.012733,0.0,4.825227,0.201873
4718,Portugal,PRT,1992,NaN,134.697050,3162.573348,1.241661,62.487097,0.0,46340.893512,...,511.124944,161.111136,2.0,29.393055,63.413227,87.723941,1671.601586,0.0,2956.770990,69.209083
1526,Croatia,HRV,2013,NaN,17.991925,485.610552,0.140396,0.592305,0.0,22737.280937,...,90.052483,264.347249,0.0,24.681082,26.458444,2.960275,735.907868,3.0,917.072683,20.745687

In [20]:
capNew_path3 = 'C:\\Users\\Hailey\\Desktop\\cap2\\COVIDcases-05Aug2020.xlsx'
dfNew3 = pd.read_excel(capNew_path3, sheet_name = 'All')

print(dfNew3.keys())
dfNew3.sample(15)

Index(['#', 'Country,\nOther', 'Total\nCases', 'Total\nDeaths',
       'Total\nRecovered', 'Active\nCases', 'Tot Cases/\n1M pop',
       'Deaths/\n1M pop', 'Total\nTests', 'Tests/\n1M pop', 'Population'],
      dtype='object')

,#,"Country,\nOther",Total\nCases,Total\nDeaths,Total\nRecovered,Active\nCases,Tot Cases/\n1M pop,Deaths/\n1M pop,Total\nTests,Tests/\n1M pop,Population
107,108.0,Kyrgyzstan,38110,1438.0,29513.0,7159.0,5833.0,220.0,267718.0,40974.0,6533890.0
150,151.0,Palestine,13065,89.0,6618.0,6358.0,2556.0,17.0,200280.0,39181.0,5111691.0
179,180.0,Somalia,3220,93.0,1598.0,1529.0,202.0,6.0,NaN,NaN,15930580.0
177,178.0,Slovakia,2417,29.0,1777.0,611.0,443.0,5.0,269655.0,49388.0,5459901.0
119,120.0,Malawi,4426,136.0,2078.0,2212.0,231.0,7.0,32680.0,1705.0,19172128.0
205,206.0,Uruguay,1300,37.0,1048.0,215.0,374.0,11.0,122296.0,35194.0,3474890.0
169,170.0,Sao Tome and Principe,875,15.0,794.0,66.0,3986.0,68.0,2998.0,13657.0,219521.0
25,26.0,Botswana,804,2.0,63.0,739.0,341.0,0.8,68423.0,29044.0,2355816.0
46,47.0,Costa Rica,19837,181.0,6590.0,13066.0,3891.0,36.0,96110.0,18851.0,5098476.0
28,29.0,Brunei,141,3.0,138.0,0.0,322.0,7.0,41148.0,93973.0,437871.0
8,9.0,Armenia,39586,770.0,30850.0,7966.0,13357.0,260.0,170012.0,57363.0,2963781.0
128,129.0,Mexico,449961,48869.0,300254.0,100838.0,3486.0,379.0,1026294.0,7952.0,129058762.0
45,46.0,Congo,3546,58.0,1589.0,1899.0,641.0,10.0,NaN,NaN,5529761.0
191,192.0,Taiwan,476,7.0,443.0,26.0,20.0,0.3,82525.0,3464.0,23820964.0
13,14.0,Bahamas,715,14.0,91.0,610.0,1817.0,36.0,4622.0,11743.0,393595.0

Using three datasets in the following manner:

from dataset anual number of deaths by cause: use last 5 years and average over country for current number of deaths for each disease type
	-this dataset has the number of deaths by cause
	-will use causes that create more vulnerability in the population (i.e. cardiovascular, cancer, hepatitis, etc)
	-data downloaded from kaggle: https://www.kaggle.com/gupvalmeida/causes-of-death-worldwide?select=annual-number-of-deaths-by-cause.csv

from dataset covid use number of confirmed cases in country 
	- will use total number of confirmed cases to date
	-data found: https://www.worldometers.info/coronavirus/#countries
	
from nutrition dataset 
	-From Region adult tab, use 'all' for each country for most recent year
	-From Country determinants tab, use 'all' for metrics that provide percentage of that type of determinant (i.e., basic sanitation, basic water, fruit veg availability, etc)
    - data found: https://globalnutritionreport.org/resources/nutrition-profiles/